<div class="search-container">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Kulcsszavak">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchBooks()">Keresés</button>
</div>

<div class="results-container">
  <a *ngFor="let book of searchResults" class="book-link" [routerLink]="['/book-details', book.key]">
    <mat-card class="book-item">
      <img *ngIf="book.coverId" [src]="'https://covers.openlibrary.org/b/id/' + book.coverId + '-L.jpg'" alt="Borítókép">
      <div class="book-details">
        <h3>{{ book.title }}</h3>
        <p *ngIf="book.authorName">Szerző: <span *ngFor="let author of book.authorName">{{ book.authorName }}</span></p>
        <p *ngIf="book.firstPublishYear">Első kiadás éve: {{ book.firstPublishYear }}</p>
        <p *ngIf="book.publisher">Kiadó: {{ book.publisher }}</p>
        <p *ngIf="book.description">{{ book.description }}</p>
        <p class="more-info" (click)="viewBookDetails(book.key)">További információ...</p>
      </div>
    </mat-card>
  </a>
</div>

<router-outlet></router-outlet>
