<div *ngIf="bookDetails">
  <img *ngIf="bookDetails.coverId" [src]="'https://covers.openlibrary.org/b/id/' + bookDetails.coverId + '-L.jpg'" alt="Borítókép">
  <h2>{{ bookDetails.title }}</h2>
  <div *ngIf="authors.length > 0">
    <h3>Authors</h3>
    <ul>
      <li *ngFor="let author of authors">
        <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>
      </li>
    </ul>
  </div>
  <p>Description: {{ bookDetails.description }}</p>
  <p>Subject Places: {{ bookDetails.subject_places?.join(', ') }}</p>
  <p>Subjects: {{ bookDetails.subjects?.join(', ') }}</p>
  <p>Subject People: {{ bookDetails.subject_people?.join(', ') }}</p>
  <p>Subject Times: {{ bookDetails.subject_times?.join(', ') }}</p>

  <div *ngIf="ratings">
    <h3>Ratings</h3>
    <p>Average: {{ ratings.summary.average }}</p>
    <p>Count: {{ ratings.summary.count }}</p>
    <ul>
      <li *ngFor="let rating of ratings.counts | keyvalue">
        {{ rating.key }} Stars: {{ rating.value }}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="bookshelf">
  <h3>Bookshelf</h3>
  <p>Want to Read: {{ bookshelf.want_to_read }}</p>
  <p>Currently Reading: {{ bookshelf.currently_reading }}</p>
  <p>Already Read: {{ bookshelf.already_read }}</p>
</div>

<div *ngIf="!bookDetails && authors.length === 0 && !bookshelf && !ratings">
  <p>Loading...</p>
</div>
